* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
}

body {
    background-color: #4f7ccb;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 32px;
    border-radius: 13px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 150px;
}

.title {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

label {
    display: block;
    font-weight: 600;
}

input.amount {
    font-weight: 400;
    font-size: 19px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #02002c;
    color: #7a789d;
    margin-bottom: 32px;
    padding: 8px;
}

input.amount:focus {
    color: #4f7ccb;
    border-color: #4f7ccb;
}

.dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #4f7ccb;
    color: #ffffff;
}

select option {
    background-color: #ffffff;
    color: #02002c;
}

button {
    font-size: 16px;
    width: 100%;
    background-color: #4f7ccb;
    padding: 16px 0;
    margin-top: 32px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #32599b;
}

.result {
    font-size: 19px;
    text-align: center;
    margin-top: 16px;
    color: #02002c;
    background-color: #7397d6;
    padding: 13px 0;
}

@media (max-width: 576px) {
    .title {
        font-size: 22px;
    }
}